* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #0000, #605c5c);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 1100px;
  height: 700px;
  border-radius: 35px;
  border: 15px solid #000;
  outline: 3px solid #ccc;
}

.line {
  width: 15px;
  height: 680px;
  background-color: #000000;
}

.task {
  padding: 50px;
  width: 48%;
}

.task h1 {
  color: #5d5405;
}

.add-todo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.add-todo input {
  margin: 20px 0 30px;
}

.todos {
  display: flex;
  flex-direction: column;
}

.todos div {
  margin-top: 20px;
}

.todos div span {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
}

.todos div input {
  cursor: pointer;
}

.error {
  color: red;
}

.delete {
  font-size: 30px;
  background: #fff;
  border: 0;
  cursor: pointer;
}
